
doctype html
html
  head
  body
    table(border='0', bgcolor='#808080', align='top', width='100%', style='height:90px')
      tr
        td(bgcolor='verdana', align='center')
          font(style="font-family: 'SHOWCARD GOTHIC',sans-serif;", size='+4', color='black')
            | The Marketplace
        |                 
        td(align='left', width='180')
          img(alt='', src='images/shop.jpg', width='180', height='90', align='right')
    table(align='left', width='100%', style='height:450px', border='0', bgcolor='#')
      tr
        td(align='center', bgcolor='white', width='100%', style='vertical-align: top;')
          p(align='center', style="font-family: 'GILL',HELVETICA, sans-serif;color: green; font-size: larger;")
            a(href='/marketplace.com') Home
            &nbsp;
            &nbsp;
            &nbsp;
            a(href='/marketplace.com/login') Log In
        td(align='center', bgcolor='white', width='100%')
          font(style="font-family: 'SHOWCARD GOTHIC',sans-serif;", size='+2', color='black')
            a(href='/marketplace.com/myCart') My Cart
      tr
        td(align='center', colspan='2' bgcolor='white', width='100%', style='vertical-align: top;')
          p(align='center', style="font-family: 'GILL',HELVETICA, sans-serif;color: green; font-size: larger;")
            | Welcome to 
            b New Marketplace.
            | A unique online platform for all shoppers.
          p(align='center', style="font-family: 'GILL',HELVETICA, sans-serif; color: black; font-size:large ")
            font(face='FUTURA MD BT', color='NAVY', size='5') New in Store
          // ------------------------------ fetched code is here!---------------------------
